* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #020617, #020617);
  color: #e5e7eb;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 420px;
  background: #020617;
  border: 1px solid #1e293b;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(34, 197, 94, 0.15);
}

.card h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  letter-spacing: 2px;
  color: #22c55e;
}

input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #020617;
  border: 1px solid #334155;
  color: white;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  background: #22c55e;
  color: black;
}

button.secondary {
  background: #0f172a;
  color: #e5e7eb;
  border: 1px solid #334155;
}

button:hover {
  opacity: 0.9;
}
