body {
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card {
  background:#1e293b;
  padding:40px;
  border-radius:10px;
  width:350px;
  text-align:center;
}

input {
  width:100%;
  padding:10px;
  margin:10px 0;
  border:none;
  border-radius:5px;
}

button {
  width:100%;
  padding:10px;
  margin:5px 0;
  background:#22c55e;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;
}

.navbar {
  width:100%;
  height:70px;
  background:#111827;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 30px;
  position:fixed;
  top:0;
}

.container {
  margin-top:100px;
  padding:20px;
}

.key-card {
  background:#1e293b;
  padding:15px;
  margin:10px 0;
  border-radius:6px;
}
