*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  height:100vh;
  background:linear-gradient(135deg,#0f172a,#020617);
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-container{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-card{
  background:#0f172a;
  padding:50px 40px;
  width:400px;
  border-radius:15px;
  box-shadow:0 0 40px rgba(0,255,150,0.2);
  text-align:center;
  border:1px solid rgba(0,255,150,0.2);
}

.login-card h1{
  color:#00ff88;
  margin-bottom:10px;
  font-size:28px;
}

.subtitle{
  color:#94a3b8;
  margin-bottom:30px;
}

.tabs{
  display:flex;
  margin-bottom:20px;
}

.tabs button{
  flex:1;
  padding:10px;
  background:#1e293b;
  border:none;
  color:#94a3b8;
  cursor:pointer;
  transition:0.3s;
}

.tabs button.active{
  background:#00ff88;
  color:black;
  font-weight:bold;
}

input{
  width:100%;
  padding:12px;
  margin:10px 0;
  background:#1e293b;
  border:1px solid #334155;
  border-radius:6px;
  color:white;
}

input:focus{
  outline:none;
  border:1px solid #00ff88;
}

.main-btn{
  width:100%;
  padding:12px;
  margin-top:15px;
  background:#00ff88;
  border:none;
  border-radius:6px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.main-btn:hover{
  background:#00cc6a;
}

#msg{
  margin-top:15px;
  color:#f87171;
}
