body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 15px rgba(0,0,0,.6);
}

input, select, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  background: #22c55e;
  font-weight: bold;
  cursor: pointer;
}

button.secondary {
  background: #334155;
}

.menu {
  padding: 10px;
}
